/* ================================ *** 个性化模块 *** ================================ */
.drag-list li{.w(31.2%);.m(0 3% 10px 0);}
.drag-list li:nth-child(3n){.mr;}

.move{.bor(@main-color);.cd;}
.drag{
	.template:extend(.rel){.index(-1)}
}
.hide{
	.template{.index(20)}
}

.point-mark:extend(.abs){.bor(@main-color);.l_t(-1);.bm(-1);.r(-1);.dn;.index(10);
	@w:6;
	@f:-@w/2;
	p:extend(.abs,.r100px){.ww(@w);.bc(@main-color);.p(2);
		&:nth-child(1){.l_t(@f);.cd(se-resize);}
		&:nth-child(2){.r_t(@f);.cd(sw-resize);}
		&:nth-child(3){.r_b(@f);.cd(se-resize);}
		&:nth-child(4){.l_b(@f);.cd(sw-resize);}
		
		&:nth-child(5){.l_t(50%,@f);.ml(-@w/2);.cd(n-resize);}
		&:nth-child(6){.r_t(@f,50%);.mt(-@w/2);.cd(w-resize);}
		&:nth-child(7){.l_b(50%,@f);.ml(-@w/2);.cd(n-resize);}
		&:nth-child(8){.l_t(@f,50%);.mt(-@w/2);.cd(w-resize);}
	}
	&.lock{.bor_c(#000);
		p{.bc(#000)}
	}
}

.activeNode{.cd;.g9;}
.control-title:extend(.ptb5,.b,.c0,.f12,.tc){.bbor(#eee)}

.drag{
	&.more{.h(61)!important;}
	.template{}
	table{
		tbody{
			// tr{filter:blur(3px)}
			// tr:first-child{filter:blur(0)}
		}
	}
}