.ant-collapse-content{background-color:#fff!important;}
.ant-collapse-content > .ant-collapse-content-box{padding:5px 10px 5px 5px!important;}
.ant-collapse-header{font-weight:bold;}
.ant-tabs-nav-list button{padding:8px 10px!important;font-size:12px!important;margin:0!important;}
.ant-tabs-nav{margin:0!important;}